body {
	background: #fff;
	/*border: 0.9rem solid #d3f62a;*/
}

em {
	font-style: italic;
}

p {
	color: #000;
	font-size: 1.6em;
	font-family: "Quaver Serif";
}

a {
	color: #d3f62a;
}

button {
	font-size: 1em;
	width: 200px;
}

h1 {
	font-size: 7em;
	font-family: "Lavanderia";
	font-weight: 900;
	margin-top: 15%;
	padding-left: 10px;
	padding-right: 10px;
}

h3 {
	font-size: 2.7em;
	font-family: "Quaver Serif";
	margin-top: 3%;
}

h5 {
	font-size: 2em;
	font-family: "Quaver Serif";
}

label {
	font-size: 1em;
	font-family: "Quaver Serif";
}

@font-face {
	font-family: "Lavanderia";
	src: url('../fonts/Lavanderia Regular.otf');
}

@font-face {
	font-family: "Quaver Serif";
	src: url('../fonts/QuaverSerif.otf');
}

hr {
	background: #d3f62a; 
  	height: 2px;
  	margin: 1.4em;
  	border: none; 
}












