body {
	background: #fff;
	margin-bottom: 5%;
}

em {
	font-style: italic;
}

p {
	color: #000;
	font-size: 1.6em;
	font-family: "Quaver Serif";
}

a {
	color: #fff;
}

article {
	margin-bottom: 2.5em;
	padding-left: 5%;
	padding-right: 5%;
}

.links {
	padding-left: 5%;
	padding-right: 5%;
}

button {
	font-size: 1em;
	width: 285px;
	background-color: #b163a3;
	box-shadow: 0 3px 2px -2px rgba(0,0,0,0.4);
	border-color: transparent;
}

button:active {
	position: relative;
	top: 1px;
}

button:focus {
	background-color: #a05492;
	outline: none;
}

button:hover, button:active {
	background-color: #a05492;
}

h1 {
	font-size: 7em;
	font-family: "Lavanderia";
	font-weight: 900;
	margin-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
}

h3 {
	font-size: 2.7em;
	font-family: "Quaver Serif";
	margin-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
}

@font-face {
	font-family: "Lavanderia";
	src: url('../fonts/Lavanderia Regular.otf');
}

@font-face {
	font-family: "Quaver Serif";
	src: url('../fonts/QuaverSerif.otf');
}













/*label {
	font-size: 1em;
	font-family: "Quaver Serif";
}*/

/*h5 {
	font-size: 2em;
	font-family: "Quaver Serif";
}*/
